<html>
    <head>
        <title>Quiz Aplikācija! </title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{url_for('static',filename='scriptLang.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <h1>Šodien taisīsim testu!</h1>
        <div class="sd-navbar-top">
            <p>Šis tests it ļoti svarīgs.</p>
        </div>
        <h2 class="sd-section-header">Autors - Sandra Trošina.</h2>
        <button onclick="setLanguageLV();">LATVIAN</button> <br>
        <button onclick="setLanguageEN();">ENGLISH</button> <br>
    </body>
</html>