<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<script src="{{url_for('static',filename='mapSHP.js')}}"></script> 
	<script src="https://js.arcgis.com/3.22/"></script>
	<title> Map test </title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://js.arcgis.com/3.22/esri/css/esri.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
</head>
<body>	
	<div id="map"></div>	
</body>
</html>